# üíº Advanced Data Analysis Assignment:

## üì¶ 1. Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='darkgrid')
%matplotlib inline

In [3]:
df = pd.read_csv("big_mart_sales.csv")

---
## üß† Scenario 1: Complex Filtering with Multiple Conditions

### Problem Statement:
Find items where:
- Sales are above 90th percentile
- Item_MRP is within 10% of its mean
- Item_Visibility is below median

### ‚úçÔ∏è Your Task:

In [5]:
# Calculate thresholds
sales_90 = df['Item_Outlet_Sales'].quantile(0.9)
mrp_mean = df['Item_MRP'].mean()
mrp_lower = mrp_mean * 0.9
mrp_upper = mrp_mean * 1.1
visibility_median = df['Item_Visibility'].median()

# Apply all conditions
filtered_df = df[
    (df['Item_Outlet_Sales'] > sales_90) &
    (df['Item_MRP'] >= mrp_lower) & (df['Item_MRP'] <= mrp_upper) &
    (df['Item_Visibility'] < visibility_median)
]

print(filtered_df)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
54             NCP18        12.15          Low Fat         0.028760
844            FDV01          NaN          Regular         0.000000
1173           FDH57          NaN          Low Fat         0.035574
2355           FDR15         9.30          Regular         0.033432
2863           FDS16          NaN          Regular         0.000000
3234           NCR50          NaN               LF         0.011763
3543           FDQ33          NaN          Low Fat         0.000000
3726           FDB58          NaN          Regular         0.013431
3825           FDK32          NaN          Regular         0.048738
3832           DRF27         8.93          Low Fat         0.028461
3866           NCP05          NaN          Low Fat         0.025164
4013           FDG14          NaN          Regular         0.050256
4600           FDE08          NaN          Low Fat         0.049081
4676           DRE49          NaN          Low Fat         0.000000
4901           FDS39          NaN          Low Fat         0.022352
4980           FDJ21        16.70          Regular         0.038746
5193           FDE05          NaN          Regular         0.032297
6028           NCD54          NaN          Low Fat         0.028868
6082           NCI29          NaN          Low Fat         0.032464
6826           FDJ21        16.70          Regular         0.038496
7095           FDW04          NaN          Regular         0.000000
8395           FDG21        17.35          Regular         0.000000

                  Item_Type  Item_MRP Outlet_Identifier  \
54                Household  151.4708            OUT017
844                  Canned  154.6314            OUT027
1173  Fruits and Vegetables  131.4284            OUT027
2355                   Meat  153.1314            OUT035
2863           Frozen Foods  145.2760            OUT027
3234              Household  153.5340            OUT027
3543            Snack Foods  151.6708            OUT027
3726            Snack Foods  143.7154            OUT027
3825  Fruits and Vegetables  152.8682            OUT027
3832                  Dairy  152.2340            OUT049
3866     Health and Hygiene  152.6024            OUT027
4013                 Canned  150.9024            OUT027
4600  Fruits and Vegetables  147.7734            OUT027
4676            Soft Drinks  153.8024            OUT027
4901                   Meat  143.7812            OUT027
4980            Snack Foods  143.8102            OUT017
5193           Frozen Foods  144.0102            OUT027
6028              Household  146.3786            OUT027
6082     Health and Hygiene  139.9154            OUT027
6826            Snack Foods  147.5102            OUT013
7095           Frozen Foods  130.5310            OUT027
8395                Seafood  150.2050            OUT045

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
54                         2007         NaN               Tier 2
844                        1985      Medium               Tier 3
1173                       1985      Medium               Tier 3
2355                       2004       Small               Tier 2
2863                       1985      Medium               Tier 3
3234                       1985      Medium               Tier 3
3543                       1985      Medium               Tier 3
3726                       1985      Medium               Tier 3
3825                       1985      Medium               Tier 3
3832                       1999      Medium               Tier 1
3866                       1985      Medium               Tier 3
4013                       1985      Medium               Tier 3
4600                       1985      Medium               Tier 3
4676                       1985      Medium               Tier 3
4901                       1985      Medium               Tier 3
4980                       2007         NaN               Tier 2
5193                       1985      Medium               Tier 3
6028                       1985      Medium               Tier 3
6082                       1985      Medium               Tier 3
6826                       1987        High               Tier 3
7095                       1985      Medium               Tier 3
8395                       2002         NaN               Tier 2

            Outlet_Type  Item_Outlet_Sales
54    Supermarket Type1          4815.0656
844   Supermarket Type3          6515.5188
1173  Supermarket Type3          5404.9644
2355  Supermarket Type1          4653.9420
2863  Supermarket Type3          5273.1360
3234  Supermarket Type3          7503.5660
3543  Supermarket Type3          4815.0656
3726  Supermarket Type3          4821.7236
3825  Supermarket Type3          5031.4506
3832  Supermarket Type1          5053.4220
3866  Supermarket Type3          6072.0960
4013  Supermarket Type3          4857.6768
4600  Supermarket Type3          4602.6754
4676  Supermarket Type3          7741.9224
4901  Supermarket Type3          4986.8420
4980  Supermarket Type1          4811.7366
5193  Supermarket Type3          5394.9774
6028  Supermarket Type3          5056.7510
6082  Supermarket Type3          4963.5390
6826  Supermarket Type1          5540.7876
7095  Supermarket Type3          5582.7330
8395  Supermarket Type1          5992.2000

---
## üìà Scenario 2: Custom Aggregation Functions

### Problem Statement:
Group data by `Outlet_Type` and calculate:
- Mean, Std Dev of Sales
- 25th and 75th percentiles
- Count of high selling products (>5000)

### ‚úçÔ∏è Your Task:

In [7]:
summary = (
    df.groupby('Outlet_Type')['Item_Outlet_Sales']
      .agg(
          mean_sales='mean',
          std_sales='std',
          sales_25th=lambda x: np.percentile(x, 25),
          sales_75th=lambda x: np.percentile(x, 75),
          high_selling_count=lambda x: (x > 5000).sum()
      )
      .reset_index()
)

print(summary)

         Outlet_Type   mean_sales    std_sales  sales_25th  sales_75th  \
0      Grocery Store   339.828500   260.851582   153.79980   458.73620
1  Supermarket Type1  2316.181148  1515.965558  1151.16820  3135.91800
2  Supermarket Type2  1995.498739  1375.932889   981.55565  2702.64865
3  Supermarket Type3  3694.038558  2127.760054  2044.33890  4975.52340

   high_selling_count
0                   0
1                 359
2                  39
3                 231

---
## üß™ Scenario 3: Row-wise Operations and Conditional Tagging

### Problem Statement:
Tag each row as:
- 'High Performer' if Sales > 90th percentile AND Item_MRP > 75th percentile
- 'Average' otherwise

### ‚úçÔ∏è Your Task:

In [11]:
import numpy as np

# Calculate thresholds
sales_90 = df['Item_Outlet_Sales'].quantile(0.9)
mrp_75 = df['Item_MRP'].quantile(0.75)

# Create the tag column
df['Performance_Tag'] = np.where(
    (df['Item_Outlet_Sales'] > sales_90) & (df['Item_MRP'] > mrp_75),
    'High Performer',
    'Average'
)

# View result
print(df[['Item_Outlet_Sales', 'Item_MRP', 'Performance_Tag']].head())

   Item_Outlet_Sales  Item_MRP Performance_Tag
0          3735.1380  249.8092         Average
1           443.4228   48.2692         Average
2          2097.2700  141.6180         Average
3           732.3800  182.0950         Average
4           994.7052   53.8614         Average

---
## üßµ Scenario 4: Pivot Table & Reshaping

### Problem Statement:
Create a pivot table showing average `Item_Outlet_Sales` by `Item_Type` and `Outlet_Type`.
Then, unstack the result and fill missing values with 0.

### ‚úçÔ∏è Your Task:

In [17]:
pivot = pd.pivot_table(
    df,
    values='Item_Outlet_Sales',
    index='Item_Type',
    columns='Outlet_Type',
    aggfunc='mean'
)
# Fill missing values with 0
pivot_filled = pivot.fillna(0)

# View the result
print(pivot_filled)

Outlet_Type            Grocery Store  Supermarket Type1  Supermarket Type2  \
Item_Type
Baking Goods              292.082544        2102.021249        1780.368782
Breads                    381.967442        2346.928355        2022.404489
Breakfast                 412.831042        2228.334688        1874.670867
Canned                    352.864879        2348.732970        1867.714110
Dairy                     341.866589        2392.654389        2083.981362
Frozen Foods              322.285984        2259.909110        1995.641420
Fruits and Vegetables     319.750450        2399.947642        1951.642279
Hard Drinks               243.155708        2231.408037        2247.528955
Health and Hygiene        365.901818        2127.626505        1876.649134
Household                 367.286612        2407.403432        2065.970392
Meat                      387.525864        2260.875454        2057.727270
Others                    288.094126        2244.418022        1853.620490
Seafood                   228.435980        2640.196610        3166.639914
Snack Foods               353.398432        2406.862759        2111.473733
Soft Drinks               343.602119        2126.751624        1923.814626
Starchy Foods             300.122154        2550.174048        1947.699988

Outlet_Type            Supermarket Type3
Item_Type
Baking Goods                 3248.872417
Breads                       3565.122748
Breakfast                    4584.759327
Canned                       3779.866814
Dairy                        3915.182245
Frozen Foods                 3553.621470
Fruits and Vegetables        4114.487061
Hard Drinks                  3432.951643
Health and Hygiene           3318.069783
Household                    3821.207782
Meat                         3862.293911
Others                       2700.928667
Seafood                      2687.073686
Snack Foods                  3745.168739
Soft Drinks                  3284.938836
Starchy Foods                3512.190114

---
## ü™ú Scenario 5: Memory Optimization and Dtype Inference

### Problem Statement:
- Find top 5 columns with largest memory usage
- Optimize their datatypes (e.g., float32 instead of float64)
- Calculate memory usage before and after

### ‚úçÔ∏è Your Task:

---
## üåÄ Scenario 6: MultiIndex Operations

### Problem Statement:
Set a multi-index with `Outlet_Identifier` and `Item_Type`.
Then, retrieve all rows for OUT049 and all Dairy products.

### ‚úçÔ∏è Your Task:

In [19]:
# 1. Set MultiIndex
df_multi = df.set_index(['Outlet_Identifier', 'Item_Type'])

# 2. Retrieve all rows for Outlet_Identifier 'OUT049'
out049_rows = df_multi.loc['OUT049']
print("All rows for OUT049:\n", out049_rows)

# 3. Retrieve all rows for Item_Type 'Dairy' across all outlets
dairy_rows = df_multi.xs('Dairy', level='Item_Type')
print("\nAll Dairy products across all outlets:\n", dairy_rows)

All rows for OUT049:
                       Item_Identifier  Item_Weight Item_Fat_Content  \
Item_Type
Dairy                           FDA15        9.300          Low Fat
Meat                            FDN15       17.500          Low Fat
Fruits and Vegetables           FDY07       11.800          Low Fat
Fruits and Vegetables           FDX32       15.100          Regular
Breakfast                       FDP49        9.000          Regular
...                               ...          ...              ...
Snack Foods                     FDK21        7.905          Low Fat
Fruits and Vegetables           FDV31        9.800               LF
Meat                            FDW27        5.860          Regular
Health and Hygiene              NCS17       18.600          Low Fat
Snack Foods                     FDL10        8.395          Low Fat

                       Item_Visibility  Item_MRP  Outlet_Establishment_Year  \
Item_Type
Dairy                         0.016047  249.8092                       1999
Meat                          0.016760  141.6180                       1999
Fruits and Vegetables         0.000000   45.5402                       1999
Fruits and Vegetables         0.100014  145.4786                       1999
Breakfast                     0.069196   54.3614                       1999
...                                ...       ...                        ...
Snack Foods                   0.010028  249.6408                       1999
Fruits and Vegetables         0.000000  175.2370                       1999
Meat                          0.151088  155.1314                       1999
Health and Hygiene            0.080627   92.5436                       1999
Snack Foods                   0.039554   99.1042                       1999

                      Outlet_Size Outlet_Location_Type        Outlet_Type  \
Item_Type
Dairy                      Medium               Tier 1  Supermarket Type1
Meat                       Medium               Tier 1  Supermarket Type1
Fruits and Vegetables      Medium               Tier 1  Supermarket Type1
Fruits and Vegetables      Medium               Tier 1  Supermarket Type1
Breakfast                  Medium               Tier 1  Supermarket Type1
...                           ...                  ...                ...
Snack Foods                Medium               Tier 1  Supermarket Type1
Fruits and Vegetables      Medium               Tier 1  Supermarket Type1
Meat                       Medium               Tier 1  Supermarket Type1
Health and Hygiene         Medium               Tier 1  Supermarket Type1
Snack Foods                Medium               Tier 1  Supermarket Type1

                       Item_Outlet_Sales Performance_Tag
Item_Type
Dairy                          3735.1380         Average
Meat                           2097.2700         Average
Fruits and Vegetables          1516.0266         Average
Fruits and Vegetables          1589.2646         Average
Breakfast                       718.3982         Average
...                                  ...             ...
Snack Foods                    3254.4304         Average
Fruits and Vegetables          3881.6140         Average
Meat                           1551.3140         Average
Health and Hygiene              378.1744         Average
Snack Foods                    2579.3092         Average

[930 rows x 11 columns]

All Dairy products across all outlets:
                   Item_Identifier  Item_Weight Item_Fat_Content  \
Outlet_Identifier
OUT049                      FDA15        9.300          Low Fat
OUT046                      FDA03       18.500          Regular
OUT035                      FDU02       13.350          Low Fat
OUT010                      FDE51        5.925          Regular
OUT010                      FDV38       19.250          Low Fat
...                           ...          ...              ...
OUT035                      FDC39        7.405          Low Fat
OUT017                      FDS26       20.350          Low Fat
OUT018                      FDV50       14.300          Low Fat
OUT035                      FDY50        5.800          Low Fat
OUT013                      FDR26       20.700          Low Fat

                   Item_Visibility  Item_MRP  Outlet_Establishment_Year  \
Outlet_Identifier
OUT049                    0.016047  249.8092                       1999
OUT046                    0.045464  144.1102                       1997
OUT035                    0.102492  230.5352                       2004
OUT010                    0.161467   45.5086                       1998
OUT010                    0.170349   55.7956                       1998
...                            ...       ...                        ...
OUT035                    0.159165  207.1296                       2004
OUT017                    0.089975  261.6594                       2007
OUT018                    0.123071  121.1730                       2009
OUT035                    0.130931   89.9172                       2004
OUT013                    0.042801  178.3028                       1987

                  Outlet_Size Outlet_Location_Type        Outlet_Type  \
Outlet_Identifier
OUT049                 Medium               Tier 1  Supermarket Type1
OUT046                  Small               Tier 1  Supermarket Type1
OUT035                  Small               Tier 2  Supermarket Type1
OUT010                    NaN               Tier 3      Grocery Store
OUT010                    NaN               Tier 3      Grocery Store
...                       ...                  ...                ...
OUT035                  Small               Tier 2  Supermarket Type1
OUT017                    NaN               Tier 2  Supermarket Type1
OUT018                 Medium               Tier 3  Supermarket Type2
OUT035                  Small               Tier 2  Supermarket Type1
OUT013                   High               Tier 3  Supermarket Type1

                   Item_Outlet_Sales Performance_Tag
Outlet_Identifier
OUT049                     3735.1380         Average
OUT046                     2187.1530         Average
OUT035                     2748.4224         Average
OUT010                      178.4344         Average
OUT010                      163.7868         Average
...                              ...             ...
OUT035                     3739.1328         Average
OUT017                     7588.1226  High Performer
OUT018                     2093.9410         Average
OUT035                     1516.6924         Average
OUT013                     2479.4392         Average

[682 rows x 11 columns]

---
## üîÅ Scenario 7: Exploding Lists and Normalizing Nested Structures

### Problem Statement:
Assume a column contains lists of promo tags like ['summer', 'festival'].
Explode the list into separate rows.

### ‚úçÔ∏è Your Task:

In [29]:
import pandas as pd

# Simulate a DataFrame with a column of lists
df = pd.DataFrame({
    'Item_Identifier': ['A', 'B', 'C'],
    'Promo_Tags': [['summer', 'festival'], ['clearance'], ['summer', 'newyear', 'festival']]
})

print("Original DataFrame:")
print(df)

# Explode the 'Promo_Tags' column
df_exploded = df.explode('Promo_Tags')

print("\nExploded DataFrame:")
print(df_exploded)

Original DataFrame:
  Item_Identifier                   Promo_Tags
0               A           [summer, festival]
1               B                  [clearance]
2               C  [summer, newyear, festival]

Exploded DataFrame:
  Item_Identifier Promo_Tags
0               A     summer
0               A   festival
1               B  clearance
2               C     summer
2               C    newyear
2               C   festival

---
## üß© Final Thoughts:
Make sure to:
- Comment your logic clearly
- Validate shapes and nulls after operations
- Avoid chained indexing

In [ ]:
print("‚úÖ Great job! Submit your completed .ipynb file.")